.download-cv-btn {
    font-family: 'new Amsterdam';
    font-size: var(--font-size-xl);
    background-color: transparent; /* Fondo transparente */
    color: var(--color-text-primary); /* Texto blanco */
    padding: var(--spacing-sm) var(--spacing-lg);
    border: var(--border-width-medium) solid var(--color-text-primary); /* Bordes blancos */
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    box-shadow: var(--shadow-sm); /* Sombra para elevar un poco */
    transition: background-color var(--transition-base), box-shadow var(--transition-base); /* Transición suave */
    
}

.download-cv-btn i{
    margin-left: var(--spacing-sm);
    color: var(--color-text-primary); /* Texto blanco */
    transition: background-color var(--transition-base), box-shadow var(--transition-base); /* Transición suave */
}

.download-cv-btn:hover {
    background-color: #68e8f9a3;
    box-shadow: var(--shadow-md); /* Más sombra al hacer hover */
}

.download-container {
    width: 100%;
    display: flex;
    justify-content: start;
    
    margin-left: var(--spacing-2xl);
}

  